@font-face { 
  font-family: "Dancing Script";
  font-style: normal;
  src: 
    url(/files/DancingScript-Regular.ttf) format("truetype");
}

body {
  background-color: #0C0C40;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  min-height: 97vh;
  display: flex;
  flex-direction: column;
}

em {
  font-weight: bold;
  font-style: normal;
}

h2 {
  margin-bottom: 20px;
}

a {
  color: #5BCEFA;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #2B9EFA;
}

a:hover {
  color: #F5A9B8;
}

footer {
  margin-top: auto;
  text-align: right;
}

#header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.border {
  border: 3px solid white;
  margin-top: 16px;
  margin-bottom: 16px;
  display: inline;
  padding: 10px;
}

.content {
  margin:0 auto;
  text-align: center;
}

.content p {
  text-align: center;
  text-shadow: 2px 2px black;
  margin: 0;
}

.content > ul {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 5px;
  list-style-type: none;
}

.content > ul > ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 10px;
  font-style: italic;
}

li {
  padding-bottom: 5px;
}

.book-title {
  font-style: italic;
}

p.inline {
  text-align: center;
}

.menu-icon {
  font-size: 2em;
  margin-left: 12px;
}

.menu-icon a {
  color: white;
  font-weight: normal;
}

.menu-icon a:visited {
  color: white;
}

.menu-icon a:hover {
  color: white;
}

.menu {
  margin-left: -10px;
  margin-top: 50px;
  position:fixed;
  background-color: #0C0C40;
  padding-right: 20px;
  height: 100%;
  visibility: hidden;
}

.script-text {
  font-family: "Dancing Script", cursive;
}

.border:hover a {
  color: #F5A9B8;
}

.about-img {
  float: left;
  padding-right: 10px;
}

.pronouns {
  margin-top: -1em;
  font-size: small;
}

.manifesto div {
  text-align: left;
  padding-bottom: 10px;
}

.manifesto h3 {
  color: #dd526e;
  margin-bottom: 5px;
}

.manifesto p {
  text-align: left;
}

.manifesto b {
  color: #F5A9B8;
}

.story div {
  margin-bottom: 20px;
}

.story p {
  text-align: left;
}

.story .red {
  color: red;
}

.story .aside {
  padding-left: 50px;
  padding-right: 50px;
  font-size: small;
}

.license {
  font-size: small;
}

@media screen and (min-width: 800px) {
  #header-img {
    width: 25%;
    height: 25%;
  }

  .content {
    width: 50%;
  }
}

@media screen
  and (min-width: 320px)
  and (max-width: 800px) {
  #header-img {
    width: 50%;
    height: 50%;
  }

  .content {
    width: 90%;
  }
}
