@font-face { 
  font-family: "Dancing Script";
  font-style: normal;
  src: 
    url(/files/DancingScript-Regular.ttf) format("truetype");
}

body {
  background-color: #0C0C40;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  min-height: 97vh;
  display: flex;
  flex-direction: column;
}

#freepalestine {
  margin-top: 50px;
}

.donate {
  position: absolute;
  right: 8px;
  top: 8px;
}

em {
  font-weight: bold;
  font-style: normal;
}

h2 {
  margin-bottom: 20px;
}

a {
  color: #5BCEFA;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #2B9EFA;
}

a:hover {
  color: #F5A9B8;
}

footer {
  margin-top: auto;
  text-align: right;
}

#header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.border {
  border: 3px solid white;
  margin-top: 16px;
  margin-bottom: 16px;
  display: inline;
  padding: 10px;
}

.content {
  margin:0 auto;
  text-align: center;
}

.content p {
  text-align: center;
  text-shadow: 2px 2px black;
  margin: 0;
}

.content > ul {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 5px;
  list-style-type: none;
}

.content > ul > ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 10px;
  font-style: italic;
}

.needslist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.needcard {
  position: relative;
  width: 200px;
  border: 5px solid #888888;
  border-radius: 30px;
  margin: 10px;
  padding: 30px;
  background-color: white;
  color: black;
  text-shadow: none;
  text-align: left;
}

.needcard p {
  margin-top:10px;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: none;
}

.circlepic {
  clip-path: circle();
  overflow: hidden;
  width: 80px;
  height: 80px;
}

.need-header {
  width: 100px;
  position: relative;
  top: -80px;
  margin-left: 110px;
}

.need-header h3 {
  margin-top: 2px;
  margin-bottom: 0;
}

.need-text {
  margin-top: -70px;
}

.need-text p {
  text-align: left;
  font-size:x-small;
}

.need-button {
  width: 100%;
  text-align: center;
}

.subtext {
  font-size: xx-small;
}

.cardlink {
  position: relative;
  width: 200px;
  border: 2px solid #888888;
  border-radius: 30px;
  margin: 10px;
  padding: 30px;
  box-shadow: 5px 10px #dddddd;
}

.cardlink p {
  margin-top:10px;
  margin-bottom: 10px;
  text-align: center;
}

.cardlink:hover {
  cursor: pointer;
}

.cardlink:hover p {
  text-decoration: underline;
}

.linkspan {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

li {
  padding-bottom: 5px;
}

.book-title {
  font-style: italic;
}

p.inline {
  text-align: center;
}

.menu-icon {
  font-size: 2em;
  margin-left: 12px;
}

.menu-icon a {
  color: white;
  font-weight: normal;
}

.menu-icon a:visited {
  color: white;
}

.menu-icon a:hover {
  color: white;
}

.menu {
  margin-left: -10px;
  margin-top: 50px;
  position:fixed;
  background-color: #0C0C40;
  padding-right: 20px;
  height: 100%;
  visibility: hidden;
}

.script-text {
  font-family: "Dancing Script", cursive;
}

.border:hover a {
  color: #F5A9B8;
}

.about-img {
  float: left;
  padding-right: 10px;
}

.pronouns {
  margin-top: -1em;
  font-size: small;
}

.manifesto div {
  text-align: left;
  padding-bottom: 10px;
}

.manifesto h3 {
  color: #dd526e;
  margin-bottom: 5px;
}

.manifesto p {
  text-align: left;
}

.manifesto b {
  color: #F5A9B8;
}

.story div {
  margin-bottom: 20px;
}

.story p {
  text-align: left;
}

.story .red {
  color: red;
}

.story .aside {
  padding-left: 50px;
  padding-right: 50px;
  font-size: small;
}

.license {
  font-size: small;
}

@media screen and (min-width: 800px) {
  #header-img {
    width: 25%;
    height: 25%;
  }

  .content {
    width: 50%;
  }
}

@media screen
  and (min-width: 320px)
  and (max-width: 800px) {
  #header-img {
    width: 50%;
    height: 50%;
  }

  .content {
    width: 90%;
  }

  #freepalestine img {
    width: 90%;
  }
  
  congrats {
	position:relative;
	left:50%;
	top:50%;
	max-width:800px;	transform:translate(-50%,-50%);
	width:80%;
	min-height:300px;
	max-height:900px;
	border:2px solid white;
	border-radius:5px;
	    box-shadow: 12px 15px 20px 0 rgba(46,61,73,.3);
    background-image: linear-gradient(to bottom right,#02b3e4,#02ccba);
	background:#fff;
	text-align:center;
	font-size:2em;
	color: #189086;
	}
}
