<footer>
    <small>Copyright &copy; <%= branding_data.copyright_year %>, <%= branding_data.copyright_holder %>. All rights reserved.</small>
    <br />
    <small>
    <a href="/termsofservice">Terms of Service</a> |
    <a href="/privacypolicy">Privacy Policy</a> |
    <a href="/trademarkpolicy">Trademark Policy</a>
    </small>
</footer>