<title>Blue Shark Friends - <%= typeof title != 'undefined' ? title : 'Untitled' %></title>
<!--<link rel="shortcut icon" type="image/x-icon" href="c2v.ico" />-->
<meta name="description" content="<%= typeof description != 'undefined' ? description : 'Blue Shark Friends' %>">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="css/style.css">