<div class="menu-icon"><a href="javascript:showHideMenu()">&#x2630;</a></div>
<% var page = typeof title != 'undefined' ? title : 'Untitled' %>
<div class="menu">
  <ul>
    <li><% if(page === "Home") { %>Home<% } else { %><a href="/">Home</a><% } %></li>
    <li><% if(page === "About") { %>About<% } else { %><a href="/about">About</a><% } %></li>
    <li>
      <div>
        <label>Crew</label>
      </div>
      <div>
        <ul>
          <li><a href="https://hannahtransmom.bluesharkfriends.com">Hannah - Pirate</a></li>
          <li><a href="https://called2voyage.bluesharkfriends.com">Josie - Pirate</a></li>
          <hr></hr>
          <li><a href="https://juniperlusby.bluesharkfriends.com" onclick="return false">Juniper - Deckhand</a></li>
          <li><a href="https://kirstynplummer.bluesharkfriends.com" onclick="return false">Kirstyn - Deckhand</a></li>
          <hr></hr>
          <li><a href="https://fredbeck.bluesharkfriends.com">Fred - Trainee</a></li>
          <li><a href="https://caralynncarter.bluesharkfriends.com">Cara - Trainee</a></li>
          <li><a href="https://rachelmccauley.bluesharkfriends.com" onclick="return false">Rachel - Trainee</a></li>
          <li><a href="https://sagemyers.bluesharkfriends.com" onclick="return false">Sage - Trainee</a></li>
          <li><a href="https://willowswonders.bluesharkfriends.com" onclick="return false">Maya - Trainee</a></li>
          <hr></hr>
          <li><a href="https://jimmysellars.bluesharkfriends.com" onclick="return false">Jimmy - Crewmate</a></li>
          <li><a href="https://jupiter.bluesharkfriends.com" onclick="return false">Levi - Crewmate</a></li>
          <li><a href="https://alice.bluesharkfriends.com" onclick="return false">Alice - Crewmate</a></li>
          <li><a href="https://rowanstone.bluesharkfriends.com" onclick="return false">Rowan - Crewmate</a></li>
        </ul>
      </div>
    </li>
    <li><% if(page === "Member Manifesto") { %>Manifesto<% } else { %><a href="/manifesto">Manifesto</a><% } %></li>
    <li><% if(page === "Solutions") { %>Solutions<% } else { %><a href="/solutions">Solutions</a><% } %></li>
    <li><% if(page === "Needs") { %>Needs<% } else { %><a href="/needs">Needs</a><% } %></li>
    <li><% if(page === "Contact") { %>Contact<% } else { %><a href="/contact">Contact</a><% } %></li>
    <li><% if(page === "Palestine") { %>Palestine<% } else { %><a href="/palestine">Palestine</a><% } %></li>
  </ul>
</div>