<h1>Palestine</h1>
<% var page = typeof title != 'undefined' ? title : 'Untitled' %>
<% if(page === "Palestine") { %><% } else { %><h2 style="<% if(page === "About") { %>margin-top: 0;<% } %>"><%= typeof subheading != 'undefined' ? subheading : 'Untitled' %></h2><% } %>