<% var page = typeof title != 'undefined' ? title : 'Untitled' %>
<%- include('../partials/menu', {title:page}) %>
<div class="topbar">
    <a id="logo" href="/"><img src="/images/logo.png" alt="Blue Shark Friends Logo - two friendly looking cartoon sharks facing inward, flanking an old fashioned ship's wheel" width="50px" /></a>
    <div class="tabs">
        <a href="/story">Our Story</a> |
        <a href="/contact">Join Us</a> |
        <a href="/shiver">Our Shiver</a>
    </div>
    <div class="login">
        <a href="https://home.bluesharkfriends.com/index.php/apps/forms/s/tf6a8ZzSENWtSRBa2TqETyrb">Sign Up</a> |
        <a href="https://home.bluesharkfriends.com/index.php/login">Login</a>
    </div>
</div>