<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:contractCongrats_data.title, description:contractCongrats_data.description}) %>
  <script type="text/javascript" src="/js/contract_congratulations.js"></script>
</head>
<body>
  <%- include('../partials/menu', {title:contractCongrats_data.title}) %>

<div class="content">
  <%- include('../partials/header', {title:contractCongrats_data.title, subheading: 'Contracts'}) %>

  <div>
      <div>
		  <div class="congrats">
			Congratulations
		  </div>
		  <br />
		  <div>
			<p>You have completed Step #<span id = 'numOfStep'></span> of the Blue Shark Friends' Service Exchange Agreement</p>
		  </div>
		  <br />
		  <div id = 'nextSection'>
			<p>We will email you soon to continue the next step, but if you want to work ahead, click button below.</p>
			<br />
			<button id = 'nextStepButton' onClick="TakeUserToNextStep(urlp['urlOfStep']);">
			  Step <span id = 'numOfNextStep'></span>
			</button>
		  </div>
		  <div id = 'finishedSection'>
			<p>You did it!  You are done!</p>
		  </div>
		</div>
  </div>
  <script>
	LoadContractCongratulationsPage();
  </script>
<br /><br />
</div>

<%- include('../partials/footer') %>

</body>
</html>
