<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:contractCongrats_data.title, description:contractCongrats_data.description}) %>
</head>
<body>
  <%- include('../partials/menu', {title:contractCongrats_data.title}) %>

<div class="content">
  <%- include('../partials/header', {title:contractCongrats_data.title, subheading: 'Congratulations'}) %>

  <div>
  
  </div>
<br /><br />
</div>

<%- include('../partials/footer') %>

</body>
</html>
