<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:contact_data.title, description:contact_data.description}) %>
</head>
<body>
  <%- include('../partials/menu', {title:contact_data.title}) %>

<div class="content">
  <%- include('../partials/header', {title:contact_data.title, subheading: 'Social Links'}) %>
<ul>
  <li><a href="https://www.facebook.com/blue.shark.friends">Facebook</a></li>
  <li><a href="https://www.linkedin.com/company/blue-shark-friends">LinkedIn</a></li>
  <li><a href="https://github.com/Blue-Shark-Friends">GitHub</a></li>
  <li><a href="https://www.instagram.com/bluesharkfriends">Instagram</a></li>
</ul>

</div>

<%- include('../partials/footer') %>

</body>
</html>
