<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:contact_data.title, description:contact_data.description}) %>
</head>
<body>
<div class="menu-icon"><a href="javascript:showHideMenu()">&#x2630;</a></div>
<div class="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="solutions">Solutions</a></li>
    <li>Contact</li>
  </ul>
</div>

<div class="content">
<h1>Blue Shark Friends</h1>

<h2>Social Links</h2>
<ul>
  <li><a href="https://www.facebook.com/blue.shark.friends">Facebook</a></li>
  <li><a href="https://www.linkedin.com/company/blue-shark-friends">LinkedIn</a></li>
  <li><a href="https://github.com/Blue-Shark-Friends">GitHub</a></li>
  <li><a href="https://www.instagram.com/bluesharkfriends">Instagram</a></li>
</ul>

</div>

<footer>
  <small>Copyright &copy; 2024, Blue Shark Friends. All rights reserved.</small>
</footer>

</body>
</html>
