<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:manifesto_data.title, description:manifesto_data.description}) %>
</head>
<body>
  <%- include('../partials/menu', {title:manifesto_data.title}) %>

<div class="content manifesto">
  <%- include('../partials/header', {title:manifesto_data.title, subheading: 'Member Manifesto'}) %>
  <div>
    <h3>
      1. Do not scale.
    </h3>
    <p>
      Our goal is to take care of our family and our community.  It is not our goal to build something that works for everyone.  We do not believe in building beyond the confines of mutual trust.
    </p>
  </div>
  <div>
    <h3>
      2. No one works for free.
    </h3>
    <p>
      All transactions are mutually beneficial exchanges either money, resources, or labor.  We are transparent about what we can offer and what we can accept.
    </p>
  </div>
  <div>
    <h3>
      3. Partner or consume; never employ.
    </h3>
    <p>
      We participate in this capitalistic system as a consumer by necessity.  But we will not enter into any hierarchical arrangements.  We believe in the equality of the worker.
    </p>
  </div>
  <div>
    <h3>
      4. No customers, just friends.
    </h3>
    <p>
      Business is a necessity for community.  But the alienation of the worker and the consumer is dehumanizing.  We seek to build personal relationships with all of our partners.  We are building a community.
    </p>
  </div>
  <div>
    <h3>
      5. Build conferences not congregations.
    </h3>
    <p>
      Whenever possible we will empower people to carry endeavours in support of their own communities.  We do not acquire.  We arm.
    </p>
  </div>
  <div>
    <h3>
      6. No puritanical nonsense.
    </h3>
    <p>
      We play with legos.  We use plastic forks.  We will not apologize for trying to enjoy our lives.
    </p>
  </div>
  <div>
    <h3>
      7. Pay needs not salaries.
    </h3>
    <p>
      We take care of our members and their families.  Our thriving is our responsibility.  We share joy.
    </p>
  </div>
  <div>
    <h3>
      8. Practice liberation.
    </h3>
    <p>
      In an agrarian economy, collectivize the land.<br />
      In an industrial economy, collectivize the means of production.<br />
      In an information economy, collectivize the data.
    </p>
  </div>
  <div>
    <h3>
      9. Be publicly accountable.
    </h3>
    <p>
      We are not striving for perfection, we are striving for transparency and accountability to our community.  We will learn, grow, and evolve.
    </p>
  </div>
  <div>
    <h3>
      10. Strive to be moneyless.
    </h3>
    <p>
      Whenever possible, we will look to trade in mutual aid first when partnering with people in our community.  We want to direct our resources and our labor in service of our people, using the tool most mutually beneficial in context. Sometimes that will be money, but money relinquishes power to the currency owner. <b>We want to keep our power in our community as much as we can.</b>
    </p>
  </div>
  <br />
</div>

  <%- include('../partials/footer') %>
  
</body>
</html>