<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:needs_data.title, description:needs_data.description}) %>
</head>
<body>
  <%- include('../partials/menu', {title:needs_data.title}) %>

<div class="content">
  <%- include('../partials/header', {title:needs_data.title, subheading: 'Needs'}) %>
  <p style="margin-bottom: 10px">Some of the people in our community need help.
    <br /><br />
    Eventually, we would like to create our own open-source fundraising tool.
    <br /><br />
    But needs don't wait for you to finish building tools.
  </p>
  <div class="needslist">
    <h2>Crewmates</h2>
    
    <div class="needcard">
      <div class="circlepic"><img src="images/kirstyn-plummer.jpg" width="90px" style="zoom: 120%; margin-left: -12px" /></div>
      <div class="need-header">
        <span class="subtext">Deckhand</span>
        <h3>Kirstyn Plummer</h3>
        <span class="subtext">she/her</span>
      </div>
      <div class="need-text">
        <p>Kirstyn Plummer has been our steadfast web hoster for over a year and has done so while facing housing instability.  We are so excited to see her moving into a new place!</p>
      </div>
      <div class="need-button">
        <div class="gfm-embed" data-url="https://www.gofundme.com/f/euv6x-a-fresh-start-in-a-new-home/widget/large?sharesheet=undefined&attribution_id=sl:a9076ad7-bf27-432d-a528-fe34f89dca5e"></div>
        <script defer src="https://www.gofundme.com/static/js/embed.js"></script></div>
    </div>
    <div class="needcard">
      <div class="circlepic"><img src="images/rocky-lane.jpg" width="90px" style="zoom: 200%; margin-left: -12px; object-position: -10px 0px" /></div>
      <div class="need-header">
        <span class="subtext">Crewmate</span>
        <h3>Rocky Lane</h3>
        <span class="subtext">he/him</span>
      </div>
      <br />
      <div class="need-text">
        <p>Rocky Lane is a community organizer that has been giving us support, advice, and hope even when we were just starting.  Supporting his fundraisers is our privilege.</p>
      </div>
      <div class="need-button">
        <a href="https://givebutter.com/c/T-Party2025">TENT T-Party</a>
      </div>
    </div>
    <div class="needcard">
      <div class="circlepic"><img src="images/angel.jpeg" width="90px" style="zoom: 120%; margin-left: -12px; object-position: 0px -30px" /></div>
      <div class="need-header">
        <span class="subtext">Deckhand</span>
        <h3>Angel H.</h3>
        <span class="subtext">they/them</span>
      </div>
      <br />
      <div class="need-text">
        <p>Angel H. is a photographer who has been helping out with our social media, posting some of their amazing photos to our Instagram and Facebook. They are also getting ready to move into a new place and need assistance.</p>
      </div>
      <div class="need-button">
        <div class="gfm-embed" data-url="https://www.gofundme.com/f/help-angel-wth-their-move/widget/large?sharesheet=undefined&attribution_id=sl:819b4c2e-71db-4b96-8c09-748290417d57"></div>
        <script defer src="https://www.gofundme.com/static/js/embed.js"></script>
      </div>
    </div>

    <h2>Community</h2>

    <div class="needcard">
      <div class="circlepic"><img src="images/serena-sonoma.jpg" width="90px" style="zoom: 150%; margin-left: -22px" /></div>
      <div class="need-header">
        <span class="subtext">Recruit</span>
        <h3>Serena Sonoma</h3>
        <span class="subtext">she/her</span>
      </div>
      <div class="need-text">
        <p>Serena Sonoma is an amazing trans journalist who has been friends with us for a couple years now.  She's signed on to writing the first article on Blue Shark Friends.  And she's doing all this while facing housing instability in San Francisco.  If you are able to give, please help her out below.</p>
      </div>
      <div class="need-button"><a href="https://venmo.com/u/SerenaAdrienne"><img src="images/Venmo-Logo-PNG-File.png" width="100px" /></a></div>
    </div>
    <div class="needcard">
      <div class="circlepic"><img src="images/veezie-lu-discotheque.jpeg" width="90px" style="zoom: 150%; margin-left: -12px" /></div>
      <div class="need-header">
        <span class="subtext">Friend</span>
        <h3>Veezie Lu Discotheque</h3>
        <span class="subtext">she/he/they</span>
      </div>
      <div class="need-text">
        <p>Veezie Lu Discotheque has been a friend, supporter, and educator for years now.  We have slowly watched with horror as his family slid into poverty.  It has been a long journey but their needs now are more urgent than ever.</p>
      </div>
      <div class="need-button"><iframe class="gfm-embed-iframe" width="100%" height="450" frameborder="0" scrolling="no" src="https://www.gofundme.com/f/please-help-resilient-family-through-stuggles/widget/large?sharesheet=CAMPAIGN_PAGE&amp;attribution_id=undefined&amp;utm_content=localhost&amp;utm_medium=referral&amp;utm_source=widget#:~:tcm-regime=GDPR&amp;tcm-prompt=Hidden"></iframe></div>
    </div>
    <div class="needcard">
      <div class="circlepic"><img src="images/river-bailey.jpeg" width="90px" style="margin-top: -5px" /></div>
      <div class="need-header">
        <span class="subtext">Recruit</span>
        <h3>River <br />Bailey</h3>
        <span class="subtext">she/her</span>
      </div>
      <div class="need-text">
        <p>River Bailey is one of the friends who welcomed us to Denver.  She has been instrumental in our research on Know-Your-Customer rules regarding crowdfunding.  She has also helped us find joy again in game nights and community.  You can help her out below.</p>
      </div>
      <div class="need-button"><iframe class="gfm-embed-iframe" width="100%" height="400" frameborder="0" scrolling="no" src="https://www.gofundme.com/f/support-river-baileys-family-in-tough-times/widget/large?sharesheet=CAMPAIGN_PAGE&amp;attribution_id=undefined&amp;utm_content=localhost&amp;utm_medium=referral&amp;utm_source=widget#:~:tcm-regime=GDPR&amp;tcm-prompt=Hidden"></iframe></div>
    </div>
  <br />
</div>

  <%- include('../partials/footer') %>
  
</body>
</html>