<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:solutions_data.title, description:solutions_data.description}) %>
</head>
<body>
  <%- include('../partials/menu', {title:solutions_data.title}) %>

<div class="content">
  <%- include('../partials/header', {title:solutions_data.title, subheading: 'Software'}) %>
<ul>
  <li>Shiver</li>
    <ul>
      <li><small>Website content management system</small></li>
      <li><small><i>Not yet released</i></small></li>
    </ul>
</ul>

</div>

<%- include('../partials/footer') %>

</body>
</html>
